.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 15px;
  margin-right: 10px;
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

p {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #050552;
  border-radius: 5px;
}

h1 {
  font-style: italic;
  text-shadow: 1px 1px 1px rgb(235, 100, 93), 2px 2px 1px rgb(237, 106, 66);
  text-align: center;
  text-decoration: underline;
  color: rgb(104, 84, 3);
}

#content {
  background-color: rgba(255, 255, 255, 0.8);
}

input[id="categories"] {
  overflow-wrap: break-word;
  white-space: normal;
}

textarea {
  margin-top: 0px;
  vertical-align: top;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #2525b3 0%, #69c2de 100%);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
