@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0e1116;
  --bg-secondary: #374a67;
  --font-primary: #616283;
  --font-secondary: #9ad5ca;
  --backup-color: #e03616;
}

body {
  background-color: var(--bg-primary);
  height: 100vh;
}

#root {
  height: 100vh;
}

/* thin scrollbar on the saved graph page */
.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #888;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #555;
}
