@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0e1116;
  --bg-secondary: #374a67;
  --font-primary: #616283;
  --font-secondary: #9ad5ca;
  --backup-color: #e03616;
}

body {
  background-color: var(--bg-primary);
}
